{# This page doesnt extend page.html.twig because it has specific content #}
{% extends "base.html.twig" %}

{% block body %}
<div class="d-flex">
    {% include("widgets/sidebar.html.twig") %}
   <div class="col-10 d-flex flex-column">
        {{ include("widgets/fav.header.html.twig") }}

        <div class="h-100 container d-flex flex-wrap gap-4 p-4 rounded">
        {% for course in user.favCourses %}
            {% include "course/fav.course.html.twig" with {'course' : course} %}
        {% endfor %}
        </div>
   </div>

</div>

{% include "widgets/footer.html.twig" %} 
{% endblock %}