{% extends 'page.html.twig' %} 
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container position-relative">
    <h2 class="mt-2">Language Course</h2>
    {% if user %}
      <a href="/course/new">
          <button class="btn btn-primary mt-2 position-absolute top-0 end-0">
              <i class="fa fa-plus"></i>
              <span>Add Course</span>
          </button>
      </a>
    {% endif %}
    
  
      <div class="d-flex justify-content-center flex-wrap gap-4 mt-4">
          {% for course in pagination %}
              {% include "course/single.course.html.twig" with {'course': course, 'user' : user} %}
          {% else %}
              <span>No courses found.</span>
          {% endfor %}
      </div>
  
      <div class="pagination d-flex justify-content-between align-items-center my-3">
          <div class="col-3 d-flex justify-content-between form-group align-items-center">
              <label for="limit">Showing:</label>
              <select id="limit" name="limit" class="form-select w-50" onchange="location = this.value;">
                  <option value="?limit=5" {% if limit == 5 %}selected{% endif %}>5 Per Page</option>
                  <option value="?limit=10" {% if limit == 10 %}selected{% endif %}>10 Per Page</option>
                  <option value="?limit=25" {% if limit == 25 %}selected{% endif %}>25 Per Page</option>
                  <option value="?limit=50" {% if limit == 50 %}selected{% endif %}>50 Per Page</option>
              </select>
              <span>Of ({{pagination.count}}) data</span>
          </div>
          {{ knp_pagination_render(pagination, 'widgets/pagination/course.table.html.twig') }}
      </div>
  </div>
{% endblock %}
