<style>
    .sidebar-options-list{
        color: #929292 !important;
    }

    .sidebar-options-list li{
        height: 48px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .sidebar-options-list li:hover{
        background-color: #F5F7FF !important;
        color: #041228 !important;
        cursor: pointer;
    }

    .sidebar-options-list li.active{
        background-color: #F5F7FF !important;
        border-right: 4px solid #041228;
        border-radius: 8px 0 0 8px;
        color: #041228 !important;
    }
</style>

<nav class="col-2 h d-flex flex-column bg-white" style="min-height: 100vh;">
    {# Start: Sidebar Logo + toggler #}
    <div class="d-flex mt-3">
        <div class="col-9 d-flex justify-content-between align-items-center p-3">
            <a href="/home">
                <img src="{{asset('images/logo_forsa.png')}}" style="width: 90px; height: 30px;">
            </a>
        </div>
        <button class="btn border-0">
            <i>
                <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.60011 3.76575H22.8001C23.4401 3.76575 23.8668 4.19241 23.8668 4.83241V21.8991C23.8668 22.5391 23.4401 
                            22.9657 22.8001 22.9657H3.60011C2.96011 22.9657 2.53345 22.5391 2.53345 21.8991V4.83241C2.53345 4.19241 
                            2.96011 3.76575 3.60011 3.76575ZM13.1251 5.89908V20.8324H21.7334V5.89908H13.1251Z" fill="#6E7273"/>
                </svg>
            </i>
        </button>
    </div>
    {# End: Sidebar Sidebar Logo +  toggler #}

    {# Start : Sidebar Options #}
    <ul class="sidebar-options-list flex flex-column justify-content-start ps-2 list-unstyled">
        <li>
            <i>
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="2.40002" y="2.73157" width="8.8" height="8.8" rx="1.6" fill="#929292"/>
                    <rect x="12.0001" y="2.73157" width="8.8" height="8.8" rx="1.6" fill="#DBE5F3"/>
                    <rect x="2.40015" y="12.3315" width="8.8" height="8.8" rx="1.6" fill="#929292"/>
                    <rect x="12.0001" y="12.3315" width="8.8" height="8.8" rx="1.6" fill="#929292"/>
                </svg>
            </i>
            <span>Overview</span>
        </li>

        <li>
            <i>
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5124 1.99829H15.9054V7.43716C15.9054 7.81928 15.519 8.00822 15.2197 7.52845L14.1582 
                            5.83013L13.0968 7.52845C12.7953 8.0061 12.4111 7.81928 12.4111 7.43716V1.99829H7.02317C5.72072 2.00179 
                            4.66675 3.05863 4.66675 4.36108V18.3085C4.67025 19.6085 5.72321 20.6615 7.02317 20.665H17.5145C17.8015 
                            20.6645 18.0764 20.5499 18.2788 20.3465C18.4822 20.1442 18.5967 19.8692 18.5972 19.5823V3.08309C18.5961 
                            2.48444 18.1111 1.99946 17.5124 1.99829ZM17.7141 17.8627L7.47747 17.8755C7.25435 17.8909 7.07682 18.0684 
                            7.06143 18.2915C7.0444 18.5383 7.23068 18.7522 7.47747 18.7692H17.7141L17.712 19.5929C17.7121 19.642 17.693 
                            19.6892 17.6589 19.7245C17.6236 19.7586 17.5764 19.7777 17.5273 19.7776H7.02317C6.2171 19.7776 5.56367 19.1242 5.56367 
                            18.3181C5.56367 17.512 6.2171 16.8586 7.02317 16.8586H17.5273C17.63 16.8598 17.7129 16.9427 17.7141 17.0454V17.8627Z" fill="#838383"/>
                </svg>

            </i>
            <span>Lessons</span>
        </li>

        <li class="my-2 active">
            <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 19.3065L8.55 17.9865C3.4 13.3165 0 10.2265 0 6.45654C0 3.36654 2.42 0.956543 5.5 0.956543C7.24 0.956543 8.91 1.76654 10 3.03654C11.09 1.76654 12.76 0.956543 14.5 0.956543C17.58 0.956543 20 3.36654 20 6.45654C20 10.2265 16.6 13.3165 11.45 17.9865L10 19.3065Z" fill="#041228"/>
                </svg>
            </i>
            <span>Wishlist</span>
        </li>
        <li>
            <i>
                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.8 13.3305C17.831 13.3305 18.6874 14.1763 18.4601 15.1819C18.2343 16.1814 17.8262 17.1365 17.251 17.9973C16.328 19.3786 15.0161 20.4553 13.4812 21.0911C11.9463 21.7268 10.2574 21.8932 8.62794 21.5691C6.9985 21.245 5.50177 20.4449 4.32701 19.2702C3.15225 18.0954 2.35222 16.5987 2.02811 14.9692C1.70399 13.3398 1.87034 11.6508 2.50611 10.1159C3.14189 8.58104 4.21854 7.26914 5.59991 6.34614C6.46072 5.77097 7.41575 5.36291 8.41533 5.13704C9.42091 4.90982 10.2667 5.76622 10.2667 6.79715V8.66382C10.2667 11.2411 12.356 13.3305 14.9334 13.3305H16.8Z" fill="#838383"/>
                    <path d="M13.0667 5.42913C13.0667 3.60734 14.5981 2.07272 16.2812 2.76989C17.3004 3.19203 18.2264 3.81077 19.0064 4.59078C19.7864 5.3708 20.4052 6.29681 20.8273 7.31594C21.5245 8.99906 19.9898 10.5305 18.1681 10.5305H17.2667C14.9471 10.5305 13.0667 8.65008 13.0667 6.33048V5.42913Z" fill="#838383"/>
                </svg>
            </i>
            <span>History</span>
        </li>
        <hr>
        <li>
            <i>
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_124)">
                    <path d="M9.09994 11.5316C9.09994 10.3718 10.0401 9.43157 11.1999 9.43157C12.3597 9.43157 13.2999 10.3718 13.2999 11.5316C13.2999 12.6914 12.3597 13.6316 11.1999 13.6316C10.0401 13.6316 9.09994 12.6914 9.09994 11.5316Z" fill="#838383"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.01282 3.34837C8.92787 0.142015 13.4719 0.142014 14.387 3.34837C14.6705 4.34181 15.6911 4.93108 16.6932 4.67989C19.9275 3.86917 22.1995 7.80442 19.8803 10.2001C19.1617 10.9423 19.1617 12.1208 19.8803 12.8631C22.1995 15.2587 19.9275 19.194 16.6932 18.3833C15.6911 18.1321 14.6705 18.7213 14.387 19.7148C13.4719 22.9211 8.92787 22.9211 8.01282 19.7148C7.7293 18.7213 6.70866 18.1321 5.70655 18.3833C2.47224 19.194 0.200227 15.2587 2.51949 12.8631C3.23808 12.1208 3.23808 10.9423 2.51949 10.2001C0.200228 7.80442 2.47224 3.86917 5.70655 4.67989C6.70866 4.93108 7.7293 4.34181 8.01282 3.34837ZM11.1999 8.03157C9.26694 8.03157 7.69994 9.59858 7.69994 11.5316C7.69994 13.4646 9.26694 15.0316 11.1999 15.0316C13.1329 15.0316 14.6999 13.4646 14.6999 11.5316C14.6999 9.59858 13.1329 8.03157 11.1999 8.03157Z" fill="#838383"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1_124">
                    <rect width="22.4" height="22.4" fill="white" transform="translate(0 0.331543)"/>
                    </clipPath>
                    </defs>
                </svg>

            </i>
            <span>History</span>
        </li>
    </ul>
    {# End : Sidebar Options #}
</nav>