body {
    /* background-color: lightgray; */
    height: 100vh !important;
    position: relative;
}

#auth-container{
    width: 100%;
    height: 100vh;
    background-color: #041228;
}

.btn-primary, .btn-primary:hover{
    background-color: #041228 !important;
    border-color: #041228 !important;
}
/* .btn-primary:hover{
    background-color: white !important;
    color: #041228 !important;
} */
.btn-outline-primary, .btn-outline-primary:hover{
    border-color: #041228 !important;
    background-color: white !important;
    color: #041228 !important;
}
/* .btn-outline-primary:hover{
    background-color: #041228 !important;
    color: white !important;
} */