<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Technical Test{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    <script>
        function togglePasswordVisibility(elem, passwordFieldSelector){
            const $passwordField = $(passwordFieldSelector);
            const isPasswordVisible = $passwordField.attr('type') === 'text';
        
            if (isPasswordVisible) {
                $passwordField.attr('type', 'password');
                $(this).text('Show');

                $(elem).removeClass('fa-eye-slash');
                $(elem).addClass('fa-eye');
            } else {
                $passwordField.attr('type', 'text');
                $(this).text('Hide');
                $(elem).removeClass('fa-eye');
                $(elem).addClass('fa-eye-slash');
            }
        }
    </script>
</html>
