{% extends './base.html.twig' %} 
{% block title %}Sign in{% endblock %} 

{% block body %}
<div id="login-container">
  <div class="container d-flex justify-content-between align-items-center h-100 p-5">
    <div class="col-5 h-100 rounded bg-white">
      {# start: form container #}
      <form class="bg-white p-5 rounded" method="POST">
        <h3 class="fw-bolder">SIGN IN</h3>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

        {# start: email #}
        <div class="row">
            <div class="form-group my-1">
                <label for="email">Email</label>
                <input type="text" class="form-control" 
                        name="email" id="email" 
                        placeholder="Enter your Email"
                        {% if prev_email %}value="{{prev_email}}"{% endif %}
                        required>
            </div>
        </div>
        {# end: email #}

        {# start: password #}
        <div class="row">
          <div class="form-group my-1 position-relative password-toggler-container">
              <label for="password">Password</label>
              <input type="password" required class="form-control password-toggler" name="password" id="password" placeholder="Enter your password">
          </div>
        </div>
        {# end: password #}


        <div class="d-flex justify-content-between align-items-center mt-4">
          <a href="/register" class="text-decoration-none text-dark">
            <span class="col-4">Can't Sign in ?</span>
          </a>
          <button type="submit" class="btn btn-primary col-4">submit</button>
        </div>

        {% if error %}
          <div class="card text-white bg-danger mt-3 ps-3 py-2">
            <span>
              <i class="fa fa-solid fa-exclamation-triangle text-white"></i>
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </span>
          </div>
        {% endif %}

        <div class="mt-5">
          <small>
            Protected by reCAPTCHA and subject to the <b>Cuboid Privacy Policy</b> and <b>Terms of Service</b>.
          </small>
        </div>


      </form>
      {# end: form container #}
    </div>
    <div class="col-5 h-100"></div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
  <script src="{{asset('js/auth.js')}}"></script>
{% endblock %}